@model domvaproject.ViewModels.PropiedadesFiltro

@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    
    
}
        
<div class="centercolumn">
    <div id="maincontent">
        
		<div class="sidebar_left">
			<div class="sidebar">
				<ul>				
					<li class="widget-container widget_categories">
						<h2 class="widget-title">@ViewRes.SharedStrings.Buscador</h2>
                        
@using (Html.BeginForm("Buscar", "Public", FormMethod.Get))
{

    List<SelectListItem> itemsTipoCompra = new List<SelectListItem>();

    itemsTipoCompra.Add(new SelectListItem
    {

        Text = " ",
        Value = ""
    });
    itemsTipoCompra.Add(new SelectListItem
    {
        Text = "Venta",
        Value = "Venta"
    });
    itemsTipoCompra.Add(new SelectListItem
    {
        Text = "Alquiler",
        Value = "Alquiler"
    });


    List<SelectListItem> items = new List<SelectListItem>();

    items.Add(new SelectListItem
    {

        Text = " ",
        Value = ""
    });
    items.Add(new SelectListItem
    {
        Text = "Apartamento",
        Value = "Apartamento"
    });
    items.Add(new SelectListItem
    {
        Text = "Villa",
        Value = "Villa"
    });
    items.Add(new SelectListItem
    {
        Text = "Bungalow",
        Value = "Bungalow"
    });
    items.Add(new SelectListItem
    {
        Text = "Local Comercial",
        Value = "Local Comercial"
    });
    items.Add(new SelectListItem
    {
        Text = "Negocio",
        Value = "Negocio"
    });
    
    List<SelectListItem> itemsLoc = new List<SelectListItem>();

    itemsLoc.Add(new SelectListItem
    {
        
        Text = " ",
        Value = ""
    });
    itemsLoc.AddRange(Model.GetPropiedades());
       <fieldset class="filtering">
         <!-- <legend>Filtrado de propiedades </legend> -->
           <ul>
               <li><b>@ViewRes.SharedStrings.Poblacion:</b>@Html.DropDownListFor(model => model.Localidad, itemsLoc)</li>
               <li></li>
               <li><b>@ViewRes.SharedStrings.TipoCompra:</b>@Html.DropDownListFor(model => model.TipoCompra, itemsTipoCompra)</li>
               <li><b>@ViewRes.SharedStrings.TipoPropiedad:</b>@Html.DropDownListFor(model => model.TipoEdif, items)</li>
               <li><b>@ViewRes.SharedStrings.PMin:</b>@Html.TextBoxFor(model => model.PrecioMin, new { size = 10 })</li>
               <li><b>@ViewRes.SharedStrings.PMax:</b>@Html.TextBoxFor(model => model.PrecioMax, new { size = 10 })</li>
               <li><b>M2 @ViewRes.SharedStrings.Min:</b>@Html.TextBoxFor(model => model.M2Min, new { size = 6 })</li>
               <li><b>@ViewRes.SharedStrings.Cantidad @ViewRes.SharedStrings.Dormitorios:</b>@Html.TextBoxFor(model => model.CantDorms, new { size = 2 })</li>
               <li><b>@ViewRes.SharedStrings.Cantidad @ViewRes.SharedStrings.Banos:</b>@Html.TextBoxFor(model => model.CantBanyos, new { size = 2 })</li>
               <li><b>@ViewRes.SharedStrings.DMar @ViewRes.SharedStrings.Max:</b>@Html.TextBoxFor(model => model.DistMar, new { size = 4 })</li>
               <li><b>@ViewRes.SharedStrings.Piscina </b>@Html.CheckBoxFor(model => model.Piscina)</li>
               <li><b>@ViewRes.SharedStrings.Vistas </b>@Html.CheckBoxFor(model => model.VistaMar)</li>
               <li><b>@ViewRes.SharedStrings.Terraza </b>@Html.CheckBoxFor(model => model.Terraza)</li>
               <li><b>@ViewRes.SharedStrings.Garage </b>@Html.CheckBoxFor(model => model.Garage)</li>
               <li><b>@ViewRes.SharedStrings.Ascensor </b>@Html.CheckBoxFor(model => model.Ascensor)</li>
               <li><b>@ViewRes.SharedStrings.Aire </b>@Html.CheckBoxFor(model => model.Aire)</li>
           </ul>
          <div>
             <input type="submit" value="@ViewRes.SharedStrings.Filtrar" />
          </div>
       </fieldset>
    }
				<!--		<ul>
							<li><a href="#">Resources</a></li>
							<li><a href="#">House Remodeling</a></li>
							<li><a href="#">Luxury Homes</a></li>
							<li><a href="#">Find a Contractor</a></li>
							<li><a href="#">First Time Buyer</a> </li>
							<li><a href="#">Free Moving Quote</a></li>
							<li><a href="#">Gardening</a></li>
							<li><a href="#">Local Constractors</a></li>
							<li><a href="#">Rent and Buy</a></li>
							
							<li><a href="#">New Homes</a></li>
							<li><a href="#">Apartment Rentals</a></li>
							<li><a href="#">Trend Blogs</a></li>
							<li><a href="#">Assisted Living</a></li>
							<li><a href="#">Property Search</a></li>
							<li><a href="#">Property Status</a></li>
							<li><a href="#">Property Types</a></li>
							<li><a href="#">Open Houses</a></li>
							<li><a href="#">Listing Activity</a></li>
						</ul>  
					</li>
					
					<li class="widget-container widget_categories">
						<h2 class="widget-title">Property Types</h2>
						<ul>
							<li><a href="#">Single Family Home</a></li>
							<li><a href="#">Commercial </a></li>
							<li><a href="#">Condo/TownHome</a></li>
							<li><a href="#">RowHome/Co-Op</a></li>
						</ul>
					</li>
					
					<li class="widget-container widget_categories">
						<h2 class="widget-title">Property Features</h2>
						<ul>
							<li><a href="#">Any</a></li>
							<li><a href="#">Central Air</a></li>
							<li><a href="#">Carport</a></li>
							<li><a href="#">Dinning Room</a></li>
							<li><a href="#">Fireplace</a> </li>
							<li><a href="#">Swimming Pool</a></li>
							<li><a href="#">Forced Air</a></li>
							<li><a href="#">Garage - 1 or more</a></li>
							<li><a href="#">Hardwood Floors</a></li>
							<li><a href="#">Family Room</a></li>
						</ul>
					</li>
					-->
				</ul>
            </div><!-- end #sidebar -->
			</div><!-- end #sidebar_left -->
			

        <div id="content">
		    <h2 class="underline">@ViewRes.SharedStrings.Propiedades</h2>
            @{
                foreach(var item in Model.Propiedades)
                {
                    string principal = domvaproject.propiedades.principal(item.idPropiedad);
                    string cabecera = item.Nombre + ", " + item.Poblacion;
                    string precio = item.Precio + " EUR";
                    string banos = ViewRes.SharedStrings.Banos + ": " + item.caracteristicas.Baños;
                    string dorm = ViewRes.SharedStrings.Dormitorios+": " + item.caracteristicas.Dormitorios;
                    string metros = "M²: " + item.caracteristicas.Metros;
                    string dist = ViewRes.SharedStrings.DMar+": " + item.caracteristicas.DMar;
                    string todas = "";
                    string vendida = ViewRes.SharedStrings.Enventa;
                    string cat = item.Categoria;
                    string Categoria = "";
                    switch (cat)
                    {
                        case "Apartamento":
                            Categoria = ViewRes.SharedStrings.Apartamento;
                            break;
                        case "Villa":
                            Categoria = ViewRes.SharedStrings.Villa;
                            break;
                        case "Bungalow":
                            Categoria = ViewRes.SharedStrings.Bungalow;
                            break;
                        case "Local Comercial":
                            Categoria = ViewRes.SharedStrings.LocalComercial;
                            break;
                        case "Negocio":
                            Categoria = ViewRes.SharedStrings.Negocio;
                            break;
                    }

                    string compra = item.TipoCompra;
                    string TipoCompra = "";
                    switch (compra)
                    {

                        case "Venta":
                            TipoCompra = ViewRes.SharedStrings.Venta;
                            break;
                        case "Alquiler":
                            TipoCompra = ViewRes.SharedStrings.Alquiler;
                            break;
                    }

                    if (item.caracteristicas.Piscina) { todas += ViewRes.SharedStrings.Piscina+", "; }
                    if (item.caracteristicas.Garage) { todas += ViewRes.SharedStrings.Garage + ", "; }
                    if (item.caracteristicas.AAcondicionado) { todas += ViewRes.SharedStrings.Aire + ", "; }
                    if (item.caracteristicas.Barbacoa) { todas += ViewRes.SharedStrings.Barbacoa + ", "; }
                    if (item.caracteristicas.Calefaccion) { todas += ViewRes.SharedStrings.Calefaccion + ", "; }
                    if (item.caracteristicas.VMar) { todas += ViewRes.SharedStrings.Vistas + ", "; }
                    if (item.caracteristicas.Terraza) { todas += ViewRes.SharedStrings.Terraza + ", "; }
                    if (item.caracteristicas.Ascensor) { todas += ViewRes.SharedStrings.Ascensor + ", "; }
                    if (item.caracteristicas.Chimenea) { todas += ViewRes.SharedStrings.Chimenea + ", "; }
                    if (item.caracteristicas.PInfantil) { todas += ViewRes.SharedStrings.PInfantil + ", "; }
                    if (item.caracteristicas.Jardin) { todas += ViewRes.SharedStrings.Jardin + ", "; }
                    if (item.caracteristicas.Montana) { todas += ViewRes.SharedStrings.Montana + ", "; }
                    if (item.caracteristicas.ZDeportiva) { todas += ViewRes.SharedStrings.ZDeportiva + ", "; }
                    if (item.caracteristicas.Vendida) { vendida = ViewRes.SharedStrings.Yavendida; }
                    if (todas.Length > 0) { todas = todas.Remove(todas.Length - 2); }
                    
                    <div class="list_properties">
					    <div class="title_property2">
					        <h2>@cabecera</h2>
					    </div><!-- end .title_property2 -->
					    <div class="clear"></div>
					    <div class="list_img"><a href="@Url.Action("Propiedad",  new { id = item.idPropiedad })"><img src="@Url.Content("~/images/thumbs/" + principal)" alt=""/></a></div>
					    <div class="list_text">
					        <strong>@precio</strong><br />
					        @Categoria, @TipoCompra<br />
					        <br />
					        <pre>@dist</pre>
					        <pre>@banos</pre>
					        <pre>@dorm</pre>
					        <pre>@metros</pre>

					        @todas<br />

					        <span class="blue">@vendida</span>
					    </div><!-- end .list_text -->
					    <div class="clear"></div>

                    </div>
                }
            }
            <div class="clear"></div>
        </div>
			
		<div class="clear"></div>
	</div><!-- end #maincontent -->
</div><!-- end #centercolumn -->

      