@model domvaproject.propiedades

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>propiedades</legend>

    <div class="display-label">idPropiedad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idPropiedad)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Precio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">Propietario</div>
    <div class="display-field">
    @Html.ActionLink(Model.propietarios.Nombre, "../Propietarios/Details", new { id = Model.propietarios.idPropietario })
        
    </div>

    <div class="display-label">Descripción Interna</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescripcionInterna)
    </div>

    <div class="display-label">Categoria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Categoria)
    </div>

    <div class="display-label">Población</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poblacion)
    </div>
    <div id="caracteristicas">
        <h3>Características</h3>
    
            <table>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.AAcondicionado)
                        <label>Aire Acondicionado</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Ascensor)
                        <label>Ascensor</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Barbacoa)
                        <label>Barbacoa</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Calefaccion)
                        <label>Calefacción</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Chimenea)
                        <label>Chimenea</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Garage)
                        <label>Garage</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Jardin)
                        <label>Jardin</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Montana)
                        <label>Montaña</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.PInfantil)
                        <label>Parque Infantil</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Piscina)
                        <label>Piscina</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.Terraza)
                        <label>Terraza</label>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.VMar)
                        <label>Vistas al Mar</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.caracteristicas.ZDeportiva)
                        <label>Zona Deportiva</label>
                    </th>
                </tr>
            </table>
    </div>

    <div class="display-label">Vendida</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.caracteristicas.Vendida)
    </div>
        
        <div class="display-label">
            <label>Número de Baños</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.caracteristicas.Baños)
        </div>
        
        <div class="display-label">
            <label>Distancia al mar</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.caracteristicas.DMar)
        </div>
        
        <div class="display-label">
            <label>Número de Dormitorios</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.caracteristicas.Dormitorios)
        </div>
        
        <div class="display-label">
            <label>Cantidad de Metros Cuadrados</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.caracteristicas.Metros)
        </div>
    <div id="fotos">
        <h4>Imágenes</h4>
        <table>
            <thead>
                <tr>
                    <th>Principal</th>
                    <th>Imagen</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            @foreach (var foto in Model.fotos)
            {
                <tr>
                    <td></td>
                    <td>
                        <img src= "@Url.Content("~/images/thumbs/"+foto.Imagen)" alt="IMAGES" />
                    </td>
                    <td>
                        @Html.ActionLink("Borrar", "../Fotos/Delete", new { id = foto.idFoto })
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Añadir Foto", "../Fotos/Create")

    </div>
        

</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idPropiedad }) |
    @Html.ActionLink("Ver todos", "Index")
</p>
