@model domvaproject.propiedades

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Propiedad</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/styles/PControl.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    List<SelectListItem> items = new List<SelectListItem>();
    items.Add(new SelectListItem
    {
        Text = "Apartamento",
        Value = "Apartamento"
    });
    items.Add(new SelectListItem
    {
        Text = "Villa",
        Value = "Villa"
    });
    items.Add(new SelectListItem
    {
        Text = "Bungalow",
        Value = "Bungalow"
    });
    items.Add(new SelectListItem
    {
        Text = "Local Comercial",
        Value = "Local Comercial"
    });
    items.Add(new SelectListItem
    {
        Text = "Negocio",
        Value = "Negocio"
    });
    <fieldset>
        <legend>Propiedades</legend>
        <div class="campos">
        <div class="bloqueCompleto">
            <div class="bloque">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nombre)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
        
            <div class="bloque">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Precio)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Precio)
                    @Html.ValidationMessageFor(model => model.Precio)
                </div>
            </div>
        
            <div class="bloque">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Propietario)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Propietario, (SelectList)ViewBag.Propietarios)
                    @Html.ValidationMessageFor(model => model.Propietario)
                </div>
            </div>

        
            <div class="bloque">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Categoria)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Categoria, items)
                    @Html.ValidationMessageFor(model => model.Categoria)
                </div>
            </div>

        
            <div class="bloque">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Poblacion)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Poblacion, (SelectList)ViewBag.Poblaciones)
                    @Html.ValidationMessageFor(model => model.Poblacion)
                </div>
            </div>
        </div>
             
        <h3>Características</h3>
        
        <div class="bloqueCompleto"> 
            <div class="bloque">
                <div class="editor-label">
                    @Html.LabelFor(model => model.caracteristicas.Vendida)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.caracteristicas.Vendida)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Vendida)
                </div>
            </div>
            
            <div class="bloque">
                <div class="editor-label">
                    <label>Número de Baños</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.caracteristicas.Baños)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Baños)
                </div>
            </div>
            
            <div class="bloque">
                <div class="editor-label">
                    <label>Distancia al mar</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.caracteristicas.DMar)
                    @Html.ValidationMessageFor(model => model.caracteristicas.DMar)
                </div>
            </div>
        
            
            <div class="bloque">
                <div class="editor-label">
                    <label>Número de Dormitorios</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.caracteristicas.Dormitorios)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Dormitorios)
                </div>
            </div>

            
            <div class="bloque">
                <div class="editor-label">
                    <label>Cantidad de Metros Cuadrados</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.caracteristicas.Metros)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Metros)
                </div>  
            </div>   
        </div>

        <table>
            <tr>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.AAcondicionado)
                    @Html.ValidationMessageFor(model => model.caracteristicas.AAcondicionado)
                    <label>Aire Acondicionado</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Ascensor)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Ascensor)
                    <label>Ascensor</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Barbacoa)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Barbacoa)
                    <label>Barbacoa</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Calefaccion)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Calefaccion)
                    <label>Calefacción</label>
                </th>
            </tr>
            <tr>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Chimenea)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Chimenea)
                    <label>Chimenea</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Garage)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Garage)
                    <label>Garage</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Jardin)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Jardin)
                    <label>Jardin</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Montana)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Montana)
                    <label>Montaña</label>
                </th>
            </tr>
            <tr>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.PInfantil)
                    @Html.ValidationMessageFor(model => model.caracteristicas.PInfantil)
                    <label>Parque Infantil</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Piscina)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Piscina)
                    <label>Piscina</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.Terraza)
                    @Html.ValidationMessageFor(model => model.caracteristicas.Terraza)
                    <label>Terraza</label>
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.VMar)
                    @Html.ValidationMessageFor(model => model.caracteristicas.VMar)
                    <label>Vistas al Mar</label>
                </th>
            </tr>
            <tr>
                <th>
                    @Html.CheckBoxFor(model => model.caracteristicas.ZDeportiva)
                    @Html.ValidationMessageFor(model => model.caracteristicas.ZDeportiva)
                    <label>Zona Deportiva</label>
                </th>
            </tr>
        </table>
        
        
        <h3>Descripciones</h3>


        <div class="bloqueCompleto">  
            <div class="editor-label">
               Descripción Interna
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.DescripcionInterna, new RouteValueDictionary(new { @class = "EditDescripcion" }))
                @Html.ValidationMessageFor(model => model.DescripcionInterna)
            </div>
        </div>
        
        <div class="bloqueCompleto"> 
            <div class="editor-label">
                Descripcion en Español
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.descripcionesesp.DescripcionESP, new RouteValueDictionary(new { @class = "EditDescripcion" }))
                @Html.ValidationMessageFor(model => model.descripcionesesp.DescripcionESP)
            </div>
        </div>

        
        
        <div class="bloqueCompleto">
            <div class="editor-label">
                Descripcion en Ruso
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.descripcionesru.DescripcionRU, new RouteValueDictionary(new { @class = "EditDescripcion" }))
                @Html.ValidationMessageFor(model => model.descripcionesru.DescripcionRU)
            </div>
        </div>
        
        <h4>Imágenes</h4>

@{
    int i = 0;
    int cells = 5;
    domvaproject.fotos foto;
    List<domvaproject.fotos> fotos= Model.fotos.ToList();
    while (fotos.Count != 0)
    {
        foto = fotos.First();
        <div class="bloque">
            <div class="editor-label">
                <img src= "@Url.Content("~/images/thumbs/" + foto.Imagen)" alt="IMAGES" /> 
            </div>
            <div class="editor-field">
                @Html.ActionLink("Borrar", "../Fotos/Delete", new { id = foto.idFoto, propiedad= Model.idPropiedad  }) |  
                @if(foto.Principal==true){
                    @Html.Label("Principal")}
                else{
                    @Html.ActionLink("Hacer Principal","../Fotos/HacerPrincipal", new { id = foto.idFoto, propiedad= Model.idPropiedad  })}
            </div>
        </div>
        fotos.Remove(fotos.First());
        
    }
}


        <div class="bloqueHidden">
            <div class="editor-label">
                Identificador
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.idPropiedad)
            </div>
            <div class="editor-field" hidden="hidden">
                @Html.EditorFor(model => model.idPropiedad)
            </div>
        </div>
            </div>
        <div class="submit">
        @Html.ActionLink("Añadir Foto", "../Fotos/CreateforPropiedad", new { id = Model.idPropiedad})
        <p>
            <input type="submit" value="Save" />
        </p>
            </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>
